a {
  text-decoration-line: none;
}
.card-img {
  border-bottom: 1px solid silver;
  border-radius: 0 !important;
  display: block;
}
.card-title {
  display: inline-block;
  border: 1px solid brown;
  background-color: brown;
  border-radius: 40px;
  font-size: 10px;
}
.btn-about {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}
.card {
  width: 220px;
  height: 320px;
}
.card-body {
  padding-top: 5px;
}
.heart:hover {
  border: none;
}

.image-container {
  position: relative;
  display: inline-block;
}

.soldout-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70% !important;
  height: 80% !important;
  max-width: 200px;
}
