a {
  text-decoration: none;
}

/* 최상단 바 스타일 */
.top-bar {
  padding: 5px 20px;
  font-size: 12px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-bar a {
  color: #333;
  text-decoration: none;
  margin-left: 15px;
}

.top-bar a:hover {
  text-decoration: underline;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px; /* 아이콘 간 간격 줄임 */
  margin-right: 20px;
  width: 280px; /* 고정된 너비 설정으로 균형 유지 */
}

.nav-item li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90px; /* 각 아이콘의 너비를 조정하여 더 밀착 */
}

.nav-item li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.nav-item li a span {
  margin-top: 5px;
  color: #666;
  line-height: 1.462em;
  white-space: nowrap;
}

.container {
  height: 70px;
  padding-bottom: 20px;
}
