/* 상품 등록 카드 스타일 */
.product-card {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px 40px;
}

/* 폼 요소 기본 스타일 */
.form-group label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-control-file {
  width: 100%;
  margin-top: 5px;
}

/* 버튼 그룹 */
.button-group {
  display: flex;
  justify-content: space-between;
}

textarea {
  resize: none;
}
