.order-history-container {
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.review-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2개씩 정렬 */
  gap: 20px;
  justify-content: center;
  justify-self: center;
}

.review-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px 35px 15px 35px;
  border-radius: 8px;
  align-items: center;
  width: 500px;
}

.review-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.review-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
}

.review-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.status-container {
  display: flex;
  align-items: center;
  gap: 8px; /* 판매완료 표시와 상품명 사이 간격 */
}

.review-status {
  background-color: #e0e0e0; /* 연한 회색 */
  color: black;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px; /* 둥글게 만들기 */
  display: inline-block;
}

.review-name {
  font-size: 18px;
  font-weight: bold;
}
