.chatting {
  margin: 0 auto;
  background-color: #bacee0;
  height: 400px;
}

.chatting-serch {
  max-width: 800px !important;
  margin: 0 auto;
}

.chatting-username {
  text-align: end;
  background-color: #ffeb33;
}

.chatting-title {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 800px !important;
  border-top: 1px solid silver;
  padding: 5px 40px 0 40px;
}
